# Build products
*.a
*.la
*.lo
*.o
.deps/
.libs/
/InfraStack/OSAgnostic/Product/AppSrvInfra/Ver_info.bin
/InfraStack/OSAgnostic/Product/AppSrvInfra/WiMAX_DB.bin
/InfraStack/OSAgnostic/Product/AppSrvInfra/WiMAX_Def.bin
/InfraStack/OSAgnostic/Product/AppSrvInfra/config.xml
/InfraStack/OSAgnostic/Product/AppSrvInfra/iwmxsdk.rules
/InfraStack/OSAgnostic/Product/AppSrvInfra/wimaxd
/InfraStack/OSAgnostic/WiMax/Wrappers/iWmxSDK/libiWmxSdk-0-uninstalled.pc
/InfraStack/OSAgnostic/WiMax/Wrappers/iWmxSDK/libiWmxSdk-0.pc
/InfraStack/OSDependent/Linux/InfraStackModules/CommonAPIHeaders/wimax_osal_win_config_controller_defines.h
/InfraStack/OSDependent/Linux/wimax_utils/wimax_monitor/wimax_monitor
/InfraStack/OSDependent/Linux/wimaxcu/wimaxcu
/autom4te.cache/
/config.h
/config.status
/libtool
/stamp-h1
/wns-version.h
Makefile
cscope.files
cscope.out

# Source tree management
*~
/3rdParty/
/Docs/
/InfraStack/Builds/
/InfraStack/OSAgnostic/Common/CommonServices/XmlParser/eXpat/*.vcproj
/InfraStack/OSAgnostic/Common/L4Common/SourceControl/*.bm
/InfraStack/OSAgnostic/Common/L4Common/SourceControl/*.dll
/InfraStack/OSAgnostic/Common/L4Common/SourceControl/*.exe
/InfraStack/OSAgnostic/Product/AppSrvInfra/i2400m_idle_mode
/InfraStack/OSAgnostic/Product/Instrumantation/CryptWrapper/*
/InfraStack/OSAgnostic/Product/Instrumantation/MOCHandler/MOCHandler/*
/InfraStack/OSAgnostic/Product/Instrumantation/MOCHandler/Mutl/*
/InfraStack/OSAgnostic/Product/Instrumantation/MOCHandler/UDapiL5/UDapiL5.cpp
/InfraStack/OSAgnostic/Product/Instrumantation/MOCHandler/UDapiL5/UDapiL5.sln
/InfraStack/OSAgnostic/Product/Instrumantation/MOCHandler/UDapiL5/resource.h
/InfraStack/OSAgnostic/Product/Instrumantation/MocMsgProxy/MocMsgProxy.ccscc
/InfraStack/OSAgnostic/Product/Instrumantation/MocMsgProxy/MocMsgProxy.dsp
/InfraStack/OSAgnostic/Product/Instrumantation/MocMsgProxy/MocMsgProxy.dsw
/InfraStack/OSAgnostic/Product/Instrumantation/MocMsgProxy/MocMsgProxy.sln
/InfraStack/OSAgnostic/Product/Instrumantation/MocMsgProxy/MocMsgProxy.vcproj
/InfraStack/OSAgnostic/Product/Wrappers/
/InfraStack/OSAgnostic/WiMax/Agents/NDnS/XML_Files/*
!/InfraStack/OSAgnostic/WiMax/Agents/NDnS/XML_Files/NDnSAgentConfig_forDriver.xml
/InfraStack/OSAgnostic/WiMax/Wrappers/Apdo/ApdoWrapper.vcproj
/InfraStack/OSAgnostic/WiMax/Wrappers/NDnS/NdsWrapper.rc
/InfraStack/OSAgnostic/WiMax/Wrappers/NDnS/resource.h
/InfraStack/OSAgnostic/WiMax/Wrappers/iWmxSDK/DynamicLoadTest/DynamicLoadTest.c
/InfraStack/OSAgnostic/WiMax/Wrappers/iWmxSDK/DynamicLoadTest/DynamicLoadTest.vcproj
/InfraStack/OSDependent/Linux/Config/WiMAX_DB.bin
/InfraStack/OSDependent/Linux/Config/wimaxdb_tool
/InfraStack/OSDependent/Linux/wimaxdb-tool/
/InfraStack/OSDependent/Winodws/
/Later/
/Miscellaneous/
/README-INTERNAL
/create_db_binaries.sh
/InfraStack/OSDependent/Linux/Config/wimaxdb_tool
