	<Intel_WiMAX>
		<DeviceDisable>0</DeviceDisable>
		<ConnectTime>60000</ConnectTime>
		<DriverMode>Driver</DriverMode>

		<!-- // @@@ : JSS : Need to find the actual/default value when in local mode -->
		<DriverOrDsim>Driver</DriverOrDsim>
		<IPC>Sockets</IPC>
		<SupplicantLibName>/usr/lib/libwpa_wimax_supplicant.so</SupplicantLibName>

		<InterfaceName>wmx0</InterfaceName>
		<DriverInterface>Nlsock</DriverInterface>
		<dSimIpAddress>0.0.0.0</dSimIpAddress>
		<dSimIndicationsPortNum>11046</dSimIndicationsPortNum>
		<dSimOidsPortNum>11045</dSimOidsPortNum>
		<EnableVersioning>0</EnableVersioning>
		<GetDeviceTraces>3</GetDeviceTraces>
		<ModeOfOperationProduction>0</ModeOfOperationProduction>
		<OutputTarget>console</OutputTarget>
		<SdkIpAddress>0.0.0.0</SdkIpAddress>
		<IPRenew>1</IPRenew>
		<DisableObfuscate>0</DisableObfuscate>
		<SdkPortNum>1234</SdkPortNum>
		<StartMocMsgProxy>False</StartMocMsgProxy>
		<StartSupplicant>False</StartSupplicant>
		<StartNDnS>True</StartNDnS>
		<StartWatchdog>0</StartWatchdog>
		<IncrementalNAI></IncrementalNAI>
		<DoNotUsePseudoNAI>1</DoNotUsePseudoNAI>
		<GetDnDOrigin></GetDnDOrigin>
		<DnDOutputMode>2</DnDOutputMode>
		<TrcPath></TrcPath>
		<FALL_TO_XOR_TIMEOUT>0</FALL_TO_XOR_TIMEOUT>
		<TLS_Source>external</TLS_Source>
		<InstallationStatus></InstallationStatus>
		<CommonPriviledgeEnable></CommonPriviledgeEnable>
		<StartMOCMsgProxy></StartMOCMsgProxy>
		<SetConnectionMode>0</SetConnectionMode>
		<ReadFromNVM>False</ReadFromNVM>
		<DevIDPrefix>MAC:</DevIDPrefix>
		<SecureBootstrap>False</SecureBootstrap>
		<DisableRenew>1</DisableRenew>
		<LogFileName>TraceLog</LogFileName>
	        <Modules>1007812360</Modules>
	        <Severities>31</Severities>
		<DumpEnable>0</DumpEnable>
		<CoexistingMode>CM</CoexistingMode>
		<AddNAPs>1</AddNAPs>
		<RootPath>./</RootPath>
		<IdleTimeout>6000</IdleTimeout>
		<IdlePagingInterval>1024</IdlePagingInterval>
		<IdleEntrySuspend>10000</IdleEntrySuspend>
		<FullNeIdleSuspend></FullNeIdleSuspend>
		<LinkDownTimer>20000</LinkDownTimer>
		<PbLog>1</PbLog>
		<D2HDataFormat>0</D2HDataFormat>
		<DLHostReorder>0</DLHostReorder>
		<CSType>0</CSType>
		<ResetOnAssert>1</ResetOnAssert>
		<LoopBack></LoopBack>
		<LimitMaxTxPower></LimitMaxTxPower>
		<WatchDogTimer>1</WatchDogTimer>
		<ArqSupport>1</ArqSupport>
		<PowerSaveEnable>1</PowerSaveEnable>
		<EnableSelectivePLIs></EnableSelectivePLIs>
		<ConsecutivePLIToReceive></ConsecutivePLIToReceive>
		<PrivilegeKey></PrivilegeKey>
		<PrivilegeEnable></PrivilegeEnable>
		<ServiceProviderLock></ServiceProviderLock>
		<Manufacturer>Intel</Manufacturer>
		<ManufacturerID>Dell Inc.</ManufacturerID>
		<Model>Embedded WiMAX</Model>
		<DeviceType>Laptop</DeviceType>
		<Completed></Completed>
		<Idle></Idle>
		<Installing>False</Installing>
		<InstallationStatus></InstallationStatus>
		<MaxNumOfFiles>5000</MaxNumOfFiles>
		<DeviceResetRetries>5</DeviceResetRetries>
		<EnableInstrumentation>1</EnableInstrumentation>
		<InstrumentationLibrary>/usr/lib/libWmxInstrument.so</InstrumentationLibrary>
		<ApdoLinkUpRetries>2</ApdoLinkUpRetries>
		<ApdoLinkUpSleep>1000</ApdoLinkUpSleep>
		<ApdoAfterLinkUpSleep>10000</ApdoAfterLinkUpSleep>
		<ShowUnkownNSPs>1</ShowUnkownNSPs>
		<DisableFastReconnect>0</DisableFastReconnect>
		<DisableRobustConnect>0</DisableRobustConnect>
	</Intel_WiMAX>
